
.column-left{
  float: left;
  width: 60%;
  text-align: left;
}
.column-center{
  display: inline-block;
  width: 33%;
  text-align: center;
}
.column-right{
  float: right;
  width: 40%;
  text-align: right;
}
